@charset "utf-8";

body{
	width:100%;
	height:100%;
	background-image:url('img/main.jpg');
	background-repeat:no-repeat; 
	background-position: center top;
}

p {
	color: black;
    font-size: 50px;
 	font-family:"a시월구일4";
 	p-align: center;
 	word-space : nowrap;
 	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
}

.p1{
	 	display: inline-block;
	 	float:left; 
	 	margin-right:10px;
	 	align:center;
	 	color: black;
	    font-size: 220px;
	 	font-family:"a시월구일4";
	 	text-align: center;
	 	
}

.p2{
	 	display: inline-block;
	 	float:left; 
	 	margin-right:10px;
	 	align:center;
	 	color: black;
	    font-size: 220px;
	 	font-family:"a시월구일4";
	 	text-align: center;
	 	
}

.title{
    color: black;
    font-size: 120px;
 	font-family:"a시월구일4";
 	text-align: center;
 	word-space : nowrap;
}

button{
	padding: 260px 250px;
	border-radius: 50px;
	background-color: #e8433d;
	border : none;
	align:center;
}
