@charset "EUC-KR";

button{
	padding: 50px 50px;
	height : 10px;
	width : 250px;
	border-radius: 30px;
	background-color: #ffffff;
	border :#d92c45 solid 1px;
	align:left;
	font-size:20px;
	font-family:"a시월구일1";
}

button:hover{
	background-color: #d92c45;
}

div{
	height: 350px;
	width: 1000px;
	position: absolute; 
	left: 600px; 
	top: 400px;
}