@charset "EUC-KR";

body {
	font-family: 'Noto Sans JP', sans-serif;
	background-color: #fcf8f5;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

table {
	color: #17464c;
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	margin: 50px auto 0 auto;
}

input[type=text] {
	width: 309px;
	height: 33px;
	padding: 12px 20px;
	margin: 7px 0;
	border: 0px solid #ccc;
	box-sizing: border-box;
	border-radius: 20px;
	background-color: #e6e6e6;
	box-shadow: 0 2px 6px 0px #c8c8c8 inset;
}

tr {
	padding-bottom: 8px;
}

.left {
	width: 20%;
	text-align: left;
	padding-right: 20px;
}

.enter {
	background-color: #d92c45;
	color: white;
	border-radius: 30px;
	border: none;
	width: 197px;
	height: 43px;
	margin-top: 43px;
	box-shadow: 0px 0px 5px #7e7e7e;
	font-weight: 555;
}

.container {
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left: 0;
	text-align: center;
	right: 0;
}